.feature {
    padding-bottom: 47px;
}
.suptitle { 
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--title-color);
}
.menu-feature {
    display: flex;   
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.menu-feature .item {
    display: block;
    width: 270px; 

   &:not(:last-child) {
        margin-right: 30px;
    }    
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px; 
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--button-background-color);    
}
.feature-icon .icon {
    display: flex;
    justify-content: center;
    align-items: center;       
}