.page-header { 
    background-color:var(--primary-background-color);
    border-bottom: 1px solid #ececec;
}
.page-header__container {
    display: flex;
    align-items: center;
}
.page-header__logo {
    margin-right: 93px;
    color: var(--title-color);
}  
.menu {
    display: flex;
    position: relative;
} 
.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 16px, 0.02em);
    color: var(--title-color);
    transition: color var(--transition-dur-and-func);   
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.menu__link_current {
    color: var(--accent-color);
}
.studio.menu__link_current::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.portfolio.menu__link_current::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    width: 78px;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}
.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    @include font(500, 14px, 16px, 0.02em);
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        color: var(--accent-color); 
    }
}
.menu__item:not(:last-child) {
    margin-right: 50px;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}
.contact__item:not(:last-child) {
    margin-right: 50px;
}
.contact__icon {
    margin-right: 10px;
    fill: currentColor;    
}